node_modules/
**/node_modules/

.env
.env.*
!.env.example
!.env.*.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

coverage/
.nyc_output/
.cache/

data/caddy/
data/caddy_config/

.DS_Store
Thumbs.db
