APP_DOMAIN=localhost
MYSQL_ROOT_PASSWORD=change-this-mysql-password
MINIO_ROOT_USER=epicminio
MINIO_ROOT_PASSWORD=change-this-minio-password
S3_BUCKET=epic
S3_EXTERNAL_ENDPOINT=http://localhost/files
DISABLE_SCHEDULER=true
