//import variables
$body-background-color: rgb(160, 159, 159);
$panel-background-color: #fff;
$font-color: #000;
$title-font-color: #000;
$font-family: '"Roboto", Arial';
$divider-color: #ccc;
//Styles
.service-card-header {
  background-color: #ccc;
  text-align: center;
  margin-bottom: 0px;
  .service-title {
    display: none;
  }
  .service-logo {
    max-height: 300px;
    width: 100%;
    margin-right: 0px;
    text-align: center;
    content: url("./styles/human_rights_watch/logo.png");
  } //panel in the header
  .panel {
    border: none;
    margin-bottom: 0px;
  }
}

.banner-row {
  display: none;
}
.service-banner {
  display: none;
}

.u-text-muted {
  color: #337ab7 !important;
  font-family: $font-family;
  line-height: 1em;
}

.card-body {
  padding: 20px;
  margin: 30px;
  margin-top: 0px;
  .card-post-body {
    margin-top: 0px;
  }
  .panel {
    border: 1px solid $divider-color;
    background-color: $panel-background-color;
    .service-post-media {
      width: 100%;
    }
    .service-post-content {
      width: 100%;
      .card__title {
        border-bottom: 1px solid #ccc;
        font-family: $font-family;
        font-size: 1.5em;
      }
      .card__content {
        line-height: 170%;
        margin-bottom: 1.5em;
        font-family: $font-family;
        font-size: 1.05em;
      }
    }
  }
}

.objectImageUrl {
  max-width: 100%;
}

.right-nav {
  .right-nav-panel * {
    color: #555;
    margin: 0 0 12px 0;
    padding: 0;
    // font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
    hr {
      border-top: 1px solid $divider-color;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .panel {
    border: none;
  }
}

.btn {
  background-color: transparent;
  border: none;
  color: #000;
  text-decoration: underline;
  color: #337ab7;
}

.service-font {
  font-family: $font-family;
  font-size: 1.05em;
}

.recent-post-content {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.archive-content {
  display: none;
}
.right-nav-content-comments {
  display: none;
}
